body {
    background-color: pink;
}

h1 {

    color: midnightblue;
    text-align: justify;
}
li {
    color: midnightblue;
    text-align:revert;
}
p {
    font-family: verdana;
    font-size: 20px;
}

h2 {
    color: midnightblue;
    text-align: justify;
}
h3 {
    color: midnightblue;
    text-align: justify;
}

