body
{
    background-color:pink;
}
h1{
    color:midnightblue;
    text-align:justify;
}
p {
    font-family: verdana;
    font-size: 20px;
}
h2 {
    color: midnightblue;
    text-align: justify;
}
